.this{
    background-color: white;
}

.lsa{
    border: 2px solid darkcyan;
    border-left: 20px solid darkgreen;
    border-right: 20px solid darkgreen;
    border-radius: 10px ;
}

.rop{
    text-align: center;
}
.cap{
    gap: 30px;
}


