.adf{
    margin-right: 40px;
}
.adf1{
    margin-right: 40px;
    left: 10px;
}
.wq{
    margin-left: 20px;
}


.fg{
    margin-right: 90px;
}

.ol{
    border-radius: 10px 10px;


}
.navbar {
    background-color:white;
    border-radius: 20px 20px;
    /* Set your desired background color */
  }
  
  .rrr{
    margin-left: 60px;
    color: darkcyan;
  }

  .nav-link{
    color:darkred;
    
  }